  <div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>

      <li>
        <a id='home-nav-link' href="/developer-connect/0-alpha/index.html"><%= vars.product_full %> (ALPHA)</a>
      </li>

      <li>
        <a href="/developer-connect/0-alpha/release-notes.html">Release Notes</a>
      </li>

      <li>
        <a href="/developer-connect/0-alpha/preparing.html">Preparing <%= vars.product_full %> for Deployment</a>
      </li>

      <li>
        <a href="/developer-connect/0-alpha/installing-tas-vms.html">Installing <%= vars.product_full %> on
        <%= vars.app_runtime_abbr %></a>
      </li>

      <li>
        <a href="/developer-connect/0-alpha/installing-bosh-release.html">Installing <%= vars.product_full %> on
        <%= vars.bosh_runtime %></a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
